<section class="flex items-center justify-center">
  <div class="py-10 mx-auto max-w-7xl">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <div class="relative flex flex-col items-center">
          <%= render 'shared/logo', width: '100', height: '100' %>
          <h1 class="text-6xl font-bold mt-4 mb-4">
            Regenesys Education SA
          </h1>
          <% if Docuseal.version.present? %>
            <a href="https://github.com/docusealco/docuseal/releases" target="_blank" class="badge badge-outline badge-lg block mx-auto">
              v<%= Docuseal.version %>
            </a>
          <% end %>
        </div>
        <h2 class="mt-4 mb-16 text-lg text-center text-gray-600">
          <strong>Awaken your potential with Regenesys Education.<strong><br /> At Regenesys we inspire change makers. For more than a quarter of a century we’ve set the standard for excellence, moulding ambitious minds into those of conscious leaders who now shape the future.
        </h2>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 md:gap-10 md:grid-cols-2">
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-4 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('shield_check', class: 'w-10 h-10 text-base-100 stroke-1') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Easy to Start</h3>
            <p class="text-base text-gray-500">
              RegDocs emerges as an innovative solution that streamlines the process of signing educational documents, making it easier for institutions, educators, and students alike.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-4 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('devices', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Mobile Optimized</h3>
            <p class="text-base text-gray-500">
              Review and sign digital documents online from any device.
              RegDocs document forms are optimized for screens of all sizes.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-4 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('shield_check', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Secure</h3>
            <p class="text-base text-gray-500">
              RegDocs: Uncompromised Security for Your Educational Documents, verified by SSL/TLS encryption.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <div class="inline-block p-4 mb-4 -mt-16 bg-base-content rounded-full">
              <%= svg_icon('brand_github', class: 'w-10 h-10 text-base-100') %>
            </div>
            <h3 class="mb-4 text-2xl font-semibold">Privacy Acknowledged</h3>
            <p class="text-base text-gray-500">
              All your documents remain secure and private with RegDocs. We do not share your data with third parties.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/attribution', with_counter: false %>
